<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <h1>投稿する</h1>
    <form action="/" method="post">
      <input type="text" name="title" placeholder="タイトルを入力してください" required>
      <input type="text" name="content" placeholder="内容を入力してください">
      <button type="submit">投稿</button>
    </form>

    <h1>投稿一覧</h1>
    <% memoList.forEach(function (memoInfo, key) { %>
      <form action="/delete" method="post">
        <b><%= memoInfo.title %></b>
        <button type="submit">削除</button>
        <input type="text" name="id" value=<%= memoInfo.id %> hidden>
        <p><%= memoInfo.content %></p>
      </form>
    <% }); %>
  </body>
</html>
