<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <% memoList.forEach(function (memoInfo, key) { %>
      <h1><%= memoInfo.title %></h1>
      <p><%= memoInfo.content %></p>
    <% }); %>
  </body>
</html>
